# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
.env

# =========================
# Node / React
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# =========================
# Build outputs
# =========================
dist/
build/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Tests / coverage
# =========================
.coverage
.pytest_cache/
